body {
    /* This fixes bug in Chrome: scrolling not working after slider opening/closing */
    backface-visibility: hidden; 
}

#new-post {
    padding-bottom: 20px;
}

.columns {
    margin: 0px;
}
