body {
    /* This fixes bug in Chrome: scrolling not working after slider opening/closing */
    backface-visibility: hidden; 
}

button::-moz-focus-inner {
    border: 0;
}

button {
    box-shadow: none !important;
    border-color: #dbdbdb !important;
}

#new-post {
    padding-bottom: 20px;
}

.columns {
    margin: 0px;
}
