body {
    /* This fixes bug in Chrome: scrolling not working after slider opening/closing */
    backface-visibility: hidden; 
}

button::-moz-focus-inner {
    border: 0;
}

button {
    border-color: #dbdbdb !important;
}

ul {
    list-style-type: circle;
}

#new-post {
    padding-bottom: 20px;
    padding-top: 20px;
}

#input-file {
    display: none;
}

.columns {
    margin: 0px;
}

.fa {
    cursor: pointer;
    user-select: none;
}

textarea {
    width: 100%;
}
